// SECTION pick :: START

section#pick.pick

	.pick__wrapper

		.container

			.row
				.col-12
					img.pick__img(src="img/img-pick.svg" alt="" title="")

			.row
				.col-12
					h1.pick__title.c-title!= "Pick your own recipe and start cooking"
					h2.pick__subtitle.c-subtitle!= "Choose an app and start integrating"

			.row#pickSearch
				.col-md-3.pb-3.pb-md-0

					.dropdown#dropdown-sticky
						a.btn.d-flex.align-items-center.justify-content-center(href='#')
							i.icon-font.icon-filter
							| Filter by Apps
						.dropdown-menu
							a.is-active.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Top Apps"
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Premium Apps"
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Recently Added"
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Coming Soon"
							.dropdown-divider
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Marketing"
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Sales"
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Support"
							a.dropdown-item.d-flex.align-items-center.justify-content-center(href='#pickSearch' anchor-js)!= "Chat"


				.col-md-9

					form.pick__form(action='' autocomplete="off")
						.pick__form-field
							.pick__form-icon.d-flex.align-items-center.justify-content-center
								i.icon-font.icon-search
							input.pick__form-input(type='text' name="" placeholder="Search for 100+ Apps" search-app-js)

					.row.pb-3
						.col-12
							.pick__box-wrapper.d-flex.flex-wrap
								div
									each val, idx in [1,2,3,4,5,6,7,8,9]
										a.pick__box.pick__box-0.d-flex.flex-column.align-items-center.justify-content-center(href="#" class="" title="")
											.pick__box-icon
												img(src="img/img-pick-gs.png" srcset="img/img-pick-gs@2x.png 2x" alt="" title="")
											.pick__box-title
												p!= "Google Sheets"

										a.pick__box.pick__box-1.d-flex.flex-column.align-items-center.justify-content-center(href="#" class="" title="")
											.pick__box-icon.d-flex.align-items-center.justify-content-center
												img(src="img/img-pick-gmail.png" srcset="img/img-pick-gmail@2x.png 2x" alt="" title="")
											.pick__box-title
												p!= "Gmail"

										a.pick__box.pick__box-2.d-flex.flex-column.align-items-center.justify-content-center(href="#" class="" title="")
											.pick__box-icon
												img(src="img/img-pick-twitter.png" srcset="img/img-pick-twitter@2x.png 2x" alt="" title="")
											.pick__box-title
												p!= "Twitter"



// SECTION pick :: END
