// SECTION complex :: START

section#complex.complex
	.complex__wrapper

		.container
			.row.flex-xl-row.flex-column-reverse

				.col-xl-6.col-12

					.complex__pr
						.complex__pr-left
							p!= "When someone fills a form in a website"
							p!= "Add them to lead nurturing campaign in MailChimp"
							p!= "Check the lead score or email open rate in MailChimp\n"
							p!= "Wait for 4 days"
							p!= "If it's good, create a contact in Salesforce."

						.complex__pr-right
							img(src="img/img-complex-workflows.png" srcset="img/img-complex-workflows@2x.png 2x" alt="" title="")

				.col-xl-6.col-12.d-flex.flex-column.justify-content-between

					div
						img.complex__path(src="img/img-complex-bg.svg" alt="" title="")

						h1.complex__title.c-title!= "Complex Workflows"
						p.complex__desc.c-text!= "When someone fills a form on a website, send me a notification email first. Then, add them to the nurturing campaign in Mailchimp. Wait for 4 days Check the lead score or email open rate. If it's good, Create a contact in Salesforce"

					img.complex__pazzle(src="img/img-complex-pazzle.svg" alt="" title="")

// SECTION complex :: END
