// SECTION everything :: START

section#everything.everything

	.everything__bg.parallax-js
		img(data-stellar-ratio="0.85" src="img/img-everything-bg-1.svg" alt="" title="")

	.everything__wrapper

		.container
			.row
				.col-12

					h1.everything__title.c-title!= "Automate Everything"

					.everything__img.parallax-js
						img(data-stellar-ratio="0.98" src="img/img-everything-bg-2.svg" alt="" title="")

		.container
			.row.align-items-center
				.col-md-6.col-12
					h2.everything__subtitle.c-title!= "Simple Automation"
					p.everything__text.c-text!= "Create simple one to one automations,<br>or sync data between two apps"

				.col-md-6.col-12

					.everything__pr
						.everything__pr-left
							img(src="img/img-everything-pr.png" srcset="img/img-everything-pr@2x.png 2x" alt="" title="")
						.everything__pr-right
							p.c-text
								label trigger
								span!= "Mail with 'Todo' Tag"
							p.c-text
								label action
								span!= "Created a card in Trello"

// SECTION everything :: END
