// FOOTER :: START

footer#footer.footer
	.container
		.row
			.col-12

				.footer__wrapper.footer__wrapper-0

					.social.social--footer
						h3.social__title!= "Connect us on "
						ul.social__list
							li.social__list-item
								a(href="#" class="" title="")
									i.icon-font.icon-facebook
							li.social__list-item
								a(href="#" class="" title="")
									i.icon-font.icon-instagram
							li.social__list-item
								a(href="#" class="" title="")
									i.icon-font.icon-twitter
							li.social__list-item
								a(href="#" class="" title="")
									i.icon-font.icon-linkedin
							li.social__list-item
								a(href="#" class="" title="")
									i.icon-font.icon-youtube

		.footer__wrapper.footer__wrapper-1
			.row.flex-sm-wrap
				.col-12.col-sm-6.col-md-3.mb-4.mb-sm-4
					h3.footer__title!= "Product"

					.nav.nav--footer
						ul.nav__list
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "App Integrations"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Pricing"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "How it works?"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Blog"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Help Center"

				.col-12.col-sm-6.col-md-3.mb-4.mb-sm-4
					h3.footer__title!= "Popular Apps"

					.nav.nav--footer
						ul.nav__list
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Unbounce"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Podio"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Google Calendar"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "AWeber"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Asana"

				.col-12.col-sm-6.col-md-3.mb-4.mb-sm-4
					h3.footer__title!= "Top Integrations"

					.nav.nav--footer
						ul.nav__list
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "QuickBooks + Stripe"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Shopify + Stripe"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Facebook Lead Ads + Gmail"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Office 365 + Salesforce"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "HubSpot + QuickBooks"

				.col-12.col-sm-6.col-md-3.mb-4.mb-sm-4
					h3.footer__title!= "Top Use Cases"

					.nav.nav--footer
						ul.nav__list
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Send Facebook leads to Google Sheets"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Sync Stripe payments with QuickBooks"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Intercom conversations to Zendesk"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Salesforce leads from Google Sheets"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Push Facebook leads to MailChimp list"

		.footer__wrapper.footer__wrapper-2

			.row.flex-sm-wrap.h-100.align-items-center
				.col-12.col-md-6

					.nav.nav--footer.nav--footer-row
						ul.nav__list
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Status"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Privacy and terms"
							li.nav__list-item
								a.nav__list-link(href="#" class="" title="")!= "Contact us"

				.col-12.col-md-6.d-flex.justify-content-end
					.copyright
						p.copyright__text!= "© 2016-18 Automate.io All Rights Rreserved"

// FOOTER :: END
