// SECTION why :: START

section#why.why

	.why__wrapper

		.container

			.row
				.col-12

					h2.why__title.c-title!= "Why Automate.io?"

			.row
				.col-md-4.col-12.pb-5.pb-md-0

					.why__box.why__box-0.text-center
						.why__box-icon
							img(src="img/img-why-easy.svg" alt="" title="")
						.why__box-title
							p.c-subtitle!= "Easy"
						.why__box-desc
							span!= "No coding. No change in your apps. Setup and get going in 2 minutes."

				.col-md-4.col-12.pb-5.pb-md-0

					.why__box.why__box-1.text-center
						.why__box-icon
							img(src="img/img-why-secure.svg" alt="" title="")
						.why__box-title
							p.c-subtitle!= "Secure"
						.why__box-desc
							span!= "Runs on secure HTTPS channel & all sensitive data is stored in an encrypted format."

				.col-md-4.col-12

					.why__box.why__box-2.text-center
						.why__box-icon
							img(src="img/img-why-reliable.svg" alt="" title="")
						.why__box-title
							p.c-subtitle!= "Reliable"
						.why__box-desc
							span!= "Used by 1000+ organizations globally - big and small. Live chat support available."


// SECTION why :: END
