// SECTION integrate :: START

section#integrate.integrate

	.integrate__wrapper

		.container
			.row
				.col-12

					if(pageClassName === 'p-integrations')
						h1.integrate__title.c-title!= "Jumpstart your integration with <br>100+ pre-built recipe templates"
					else
						h1.integrate__title.c-title!= "Popular Facebook Lead Ads Integrations"

		.container
			.row
				.col
					.integrate__list
						ul
							each val, idx in [1,2,3,4,5,6,7,8]
								li
									.card
										.card-body
											.integrate__box
												div
													if(idx % 2 === 0)
														.integrate__box-img.integrate__box-img--three
															img(src="img/img-integrate-facebook.png" srcset="img/img-integrate-facebook@2x.png 2x" alt="" title="")
															i.icon-font.icon-arrow
															img(src="img/img-integrate-pipedrive.png" srcset="img/img-integrate-pipedrive@2x.png 2x" alt="" title="")
															i.icon-font.icon-arrow
															img(src="img/img-integrate-facebook.png" srcset="img/img-integrate-facebook@2x.png 2x" alt="" title="")
													else
														.integrate__box-img.integrate__box-img--two
															img(src="img/img-integrate-facebook.png" srcset="img/img-integrate-facebook@2x.png 2x" alt="" title="")
															i.icon-font.icon-arrow
															img(src="img/img-integrate-pipedrive.png" srcset="img/img-integrate-pipedrive@2x.png 2x" alt="" title="")

													.integrate__box-desc
														if(idx % 2 === 0)
															p.c-text!= "Add or Update a Person in Pipedrive on a New Lead in Facebook Lead Ads Add or Update a Person in Pipedrive on a New Lead in Facebook Lead Ads"
														else
															p.c-text!= "Add or Update a Person in Pipedrive on a New Lead in Facebook Lead Ads"

												div
													.integrate__box-btn
														a.c-btn.c-btn--border(href="#" class="" title="")!= "Try Now"


// SECTION integrate :: END
