// SECTION run :: START

section#run.run

	.run__bg

		+circleLineSVG()

	.run__wrapper

		.container
			.row
				.col-12

					h2.run__title.c-title!= "Run Workflows"

					.run__box-wrapper.d-flex.align-items-center.align-items-lg-start.justify-content-center.flex-column.flex-lg-row
						div
							.run__box.run__box-0.d-flex.align-items-center.justify-content-center
								img(src="img/img-run-facebook.png" srcset="img/img-run-facebook@2x.png 2x" alt="" title="")
						div
							.run__box-arrow.d-flex.align-items-center.justify-content-center
								i.icon-font.icon-arrow
						div
							.run__box.run__box-1.d-flex.align-items-center.justify-content-center
								img(src="img/img-run-slack.png" srcset="img/img-run-slack@2x.png 2x" alt="" title="")
						div
							.run__box-arrow.d-flex.align-items-center.justify-content-center
								i.icon-font.icon-arrow
						div.run__box-row.d-flex.align-items-center.justify-content-center.flex-column
							.run__box-content.d-flex.align-items-center
								.run__box.run__box-2.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-facebook.png" srcset="img/img-run-facebook@2x.png 2x" alt="" title="")
								.run__box.run__box-3.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-slack.png" srcset="img/img-run-slack@2x.png 2x" alt="" title="")
								.run__box.run__box-4.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-googleSheet.png" srcset="img/img-run-googleSheet@2x.png 2x" alt="" title="")
							.run__box-content
								p.run__box-title!= "COLLABORATION"
						div
							.run__box-arrow.d-flex.align-items-center.justify-content-center
								i.icon-font.icon-arrow
						div.run__box-row.d-flex.align-items-center.justify-content-center.flex-column
							.run__box-content.d-flex.align-items-center
								.run__box.run__box-5.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-facebook.png" srcset="img/img-run-facebook@2x.png 2x" alt="" title="")
								.run__box.run__box-6.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-slack.png" srcset="img/img-run-slack@2x.png 2x" alt="" title="")
								.run__box.run__box-7.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-googleSheet.png" srcset="img/img-run-googleSheet@2x.png 2x" alt="" title="")
								.run__box.run__box-8.d-flex.align-items-center.justify-content-center
									img(src="img/img-run-slack.png" srcset="img/img-run-slack@2x.png 2x" alt="" title="")
							.run__box-content
								p.run__box-title!= "MARKETING"

					p.run__desc!= "Connect Facebook Lead Ads and Pipedrive with your other apps and run workflows across them. Trigger workflows automatically when things happen in any of the apps."

					a.run__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Get Started Now"


// SECTION run :: END
