// SECTION frequently :: START

section#frequently.frequently
	.c-grid
		.frequently__wrapper

			h2.frequently__title!= "Frequently Asked Questions"

			.frequently__block-wrapper
				.frequently__block.frequently__block-0
					p.frequently__block-title!= "What are Bots?"
					p.frequently__block-desc!= "Bot is an automation. It can be a one to one app integration or a multi-app workflow. Know more about how to create a bot."

				.frequently__block.frequently__block-1
					p.frequently__block-title!= "What are Bots?"
					p.frequently__block-desc!= "Bot is an automation. It can be a one to one app integration or a multi-app workflow. Know more about how to create a bot."

				.frequently__block.frequently__block-2
					p.frequently__block-title!= "What are Premium Apps?"
					p.frequently__block-desc!= "Premium apps require a Paid plan. You can't use them in the Free plan. You can checkthe full list of free and premium apps here."

				.frequently__block.frequently__block-3
					p.frequently__block-title!= "What are Premium Apps?"
					p.frequently__block-desc!= "Premium apps require a Paid plan. You can't use them in the Free plan. You can checkthe full list of free and premium apps here."

				.frequently__block.frequently__block-4
					p.frequently__block-title!= "What are Premium Apps?"
					p.frequently__block-desc!= "Premium apps require a Paid plan. You can't use them in the Free plan. You can checkthe full list of free and premium apps here."

				.frequently__block.frequently__block-5
					p.frequently__block-title!= "What are Premium Apps?"
					p.frequently__block-desc!= "Premium apps require a Paid plan. You can't use them in the Free plan. You can checkthe full list of free and premium apps here."

			a.frequently__btn(href="#" class="" title="")!= "Load more"

// SECTION frequently :: END
